# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
/.idea/

# Test output - check this folder to see DB files created by tests
.test_output/

# Example databases
/example_db.lmdb/
/test_db.lmdb/
/test_plugin_db.lmdb/
