<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>Acceso necesario para almacenar datos de la aplicación</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>Acceso necesario para operaciones de almacenamiento</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.13</string>
</dict>
</plist>